# IDE and editor folders
.idea/
.vscode/

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Git
.git
.gitignore

# Docker ignore itself
.dockerignore

# OS/Editor specific
*.swp
*.swo
.DS_Store
Thumbs.db

status/